{% load static %}
{% block contenido %} {% comment %} abre el bloque para contenido {% endcomment %}
    <!-- Pie de página -->
    <footer class="bg-dark text-center text-light py-4">
        <p>&copy; 2024 Agencia de Empleo. Todos los derechos reservados.</p>
        <a href="#" class="footer-btn">Iniciar Sesión</a>
    </footer>
    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %} {% comment %} cierra el bloque para contenido {% endcomment %}
